.jumbotronContainer {
    overflow: hidden;

    .inner {
        white-space: nowrap;
        transition: transform 0.7s;
    }

    .indicators {
        display: flex;
        position: relative;
        margin-top: -60px;
        margin-bottom: 40px;
        justify-content: center;

        button {
            margin: 5px;
            width: 20px;
            height: 20px;
            background-color: rgb(180, 180, 180);
            border-radius: 50%;
            border: 0;
            box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
            transition: background-color 0.4s;
            &.active {
                background-color: #6D956F;
            }
        }
    }
}

.link {
    text-decoration: none;

    .jumbotron-item {
        width: 100%;
        text-decoration: none;
        display: inline-flex;
        flex-direction: column;
        align-items: flex-start;
        height: 70vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-color: green;
        color: white;
        object-fit: cover;
    
        .hero-text {
            position: relative;
            font-size: 320%;
            margin-top: 4%;
            margin-left: 4%;
            text-shadow: 0 10px 8px rgba(0, 0, 0, 0.8);
        }

        .sub-hero-text {
            position: relative;
            font-size: 200%;
            margin-left: 4.4%;
            margin-top: 0.5%;
            text-shadow: 0 10px 8px rgba(0, 0, 0, 0.8);
        }
    }
}


